include LICENSE *.md
recursive-include mujoco *.h *.cc *.cc.inc *.mm CMakeLists.txt *.cmake
recursive-include mujoco libmujoco*.dylib libmujoco*.so*
recursive-include mujoco/plugin *
recursive-include mujoco/mjpython mjpython.* Info.plist
